.footer__img {
    height: 100px;
    width: 100px;
    align-self: flex-end;
}

@media (width < 768px) {
    .footer__img:first-child {
        grid-area: 3/1/4/2;
    }
    .footer__img:last-child {
        justify-self: end;
        grid-area: 3/2/4/3;
    }
}