.header__img {
    height: 90vh;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

@media (min-width: 1200px) and (max-width: 1420px) {
    .header__img {
        left: -100px;
    }
}

@media (min-width: 580px) and (max-width: 900px) {
    .header__img {
        width: auto;
        min-width: 200px;
    }
}


@media (min-width: 200px) and (max-width: 580px) {
    .header__img {
        width: 100vw;
        min-width: 200px;
        height: auto;
    }
}