.page {
    margin: 0;
    overflow-x: hidden;
    font-family: "TildaSans", Arial, sans-serif;
    color: white;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}