.header__anchor {
    position: absolute;
    bottom: 10px;
    right: 50vw;
    animation: t-arrow-bottom 1.7s infinite ease;
}

.header__anchor:hover {
    opacity: .7;
    transition: .5s ease-out;
}

@media (min-width: 200px) and (max-width: 900px) {
    .header__anchor {
        left: 46vw;
    }
}

@keyframes t-arrow-bottom {
    0%,to {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    50%,55% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px)
    }
}