.buttons__box {
    height: 70%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 200px) and (max-width: 350px) {
    .buttons__box {
        flex-direction: column;
        width: 90%;
    }
}