.header {
    height: 100vh;
    width: 100vw;
    font-weight: 600;
    line-height: 1.17;
    background-image: url(https://i.postimg.cc/vHGdYYns/2024-04-14-19-02-39.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 2px white solid;
}

@media (min-width: 200px) and (max-width: 900px) {
    .header {
        align-items: flex-start;
    }
}