.footer__link {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    position: relative;
    font-size: clamp(16, 2vw, 20px);
}

@media (width < 768px) {
    .footer__link {
        grid-column: 1/-1;
        align-self: center;
        justify-self: center;
    }
}