.buttons__titles {
    text-transform: uppercase;
    font-size: 18px;
}

@media (min-width: 200px) and (max-width: 900px) {
    .buttons__titles{
        margin-right: 20px;
    }
}

@media (min-width: 200px) and (max-width: 740px) {
    .buttons__titles{
        font-size: 14px;
    }
}