.header-text-transition {
    animation: header-text-transition 1.5s ease 1s 1 forwards;
    opacity: 0;
}

@keyframes header-text-transition {
    0% {
        transform: translateX(5em);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}