.footer {
    min-block-size: 30vh;
    min-block-size: 30dvb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(61,56,31,1) 84%);
    border-top: 10px linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(61,56,31,1) 84%) solid;
}

@media (width < 768px) {
    .footer {
        display: grid;
        grid-template-columns: auto auto;
    }
}