.header__title {
    font-size: 72px;
    letter-spacing: 0.5px;
}

@media (min-width: 350px) and (max-width: 580px) {
    .header__title {
        font-size: 40px;
    }
}

@media (min-width: 200px) and (max-width: 350px) {
    .header__title {
        font-size: 30px;
    }
}