.buttons {
    min-block-size: 70vh;
    min-block-size: 70dvb;
    display: flex;
    justify-content: space-evenly;
    padding: auto;
    position: relative;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(61,56,31,1) 84%);
    align-items: center;
}

@media (width < 768px) {
    .buttons{
        flex-direction: column;
    }
}